@font-face {
  font-family: "Helvetica Neue LT Std - Hv";
  font-style: normal;
  font-stretch: normal;
  src: url('../fonts/HelveticaNeueLTStd-Hv.otf') format('opentype'), url('../fonts/HelveticaNeueLTStd-Hv.woff') format('woff');
}
/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url('../fonts/lato-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/lato-v15-latin-300.woff') format('woff'), /* Modern Browsers */ url('../fonts/lato-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */;
}
/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/lato-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/lato-v15-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/lato-v15-latin-regular.ttf') format('truetype');
  /* Safari, Android, iOS */
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url('../fonts/lato-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/lato-v15-latin-700.woff') format('woff'), /* Modern Browsers */ url('../fonts/lato-v15-latin-700.ttf') format('truetype');
  /* Safari, Android, iOS */
}
/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url('../fonts/lato-v15-latin-900.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/lato-v15-latin-900.woff') format('woff'), /* Modern Browsers */ url('../fonts/lato-v15-latin-900.ttf') format('truetype');
  /* Safari, Android, iOS */
}
/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/raleway-v13-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway-Regular'), url('../fonts/raleway-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/raleway-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/raleway-v13-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/raleway-v13-latin-regular.ttf') format('truetype');
  /* Legacy iOS */
}
/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/raleway-v13-latin-700.eot');
  /* IE9 Compat Modes */
  src: local('Raleway Bold'), local('Raleway-Bold'), url('../fonts/raleway-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/raleway-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/raleway-v13-latin-700.woff') format('woff'), /* Modern Browsers */ url('../fonts/raleway-v13-latin-700.ttf') format('truetype');
  /* Legacy iOS */
}
/* raleway-800 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/raleway-v13-latin-800.eot');
  /* IE9 Compat Modes */
  src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url('../fonts/raleway-v13-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/raleway-v13-latin-800.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/raleway-v13-latin-800.woff') format('woff'), /* Modern Browsers */ url('../fonts/raleway-v13-latin-800.ttf') format('truetype');
  /* Legacy iOS */
}
/* raleway-900 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/raleway-v13-latin-900.eot');
  /* IE9 Compat Modes */
  src: local('Raleway Black'), local('Raleway-Black'), url('../fonts/raleway-v13-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/raleway-v13-latin-900.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/raleway-v13-latin-900.woff') format('woff'), /* Modern Browsers */ url('../fonts/raleway-v13-latin-900.ttf') format('truetype');
  /* Legacy iOS */
}
.button {
  display: inline-block;
  padding: 5px 39px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-decoration: none;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #f1f1f1;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  background-color: #18a3dd;
}
.button:hover {
  opacity: 0.7;
}
.page {
  position: relative;
  overflow-x: hidden;
  margin: 0;
  margin: 0 auto;
  padding: 0;
  color: #333740;
}
.page-header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 1500px;
  background-color: #fafcfc;
  border-bottom: 1px solid #ebebeb;
}
.main-nav {
  position: relative;
  width: 1170px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 27px 31px 21px 16px;
}
.main-nav__list {
  position: absolute;
  z-index: 50;
}
.main-nav__logo-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-nav__title {
  display: block;
  margin-left: 12px;
  font-family: "Helvetica Neue LT Std - Hv", "Arial", sans-serif;
  color: #656973;
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
}
.main-nav__toggle {
  position: relative;
  margin-left: auto;
  padding: 0;
  width: 35px;
  height: 29px;
  border: 0;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  position: absolute;
  z-index: 50;
  top: 5px;
  display: block;
  width: 35px;
  height: 5px;
  background-color: #666;
  opacity: 0.5;
  content: '';
  cursor: pointer;
}
.main-nav--opened .main-nav__toggle::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.main-nav--opened .main-nav__toggle::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
.main-nav--closed .main-nav__toggle::before {
  position: absolute;
  top: 0;
  right: 10px;
  display: block;
  width: 35px;
  height: 5px;
  background-color: #666;
  -webkit-box-shadow: 0 8px 0 0 #666, 0 16px 0 0 #666;
          box-shadow: 0 8px 0 0 #666, 0 16px 0 0 #666;
  content: '';
  cursor: pointer;
}
.main-nav--closed .main-nav__toggle::after {
  display: none;
}
.main-nav--closed .main-nav__toggle:hover::before {
  opacity: 0.5;
}
.main-nav--no-js .main-nav__toggle {
  display: none;
}
.main-nav--opened .main-nav__list {
  position: absolute;
  z-index: 40;
  top: 0;
  right: 0;
  display: block;
  width: 30%;
}
.main-nav--no-js .main-nav__list {
  display: block;
}
.main-nav--no-js .main-nav__toggle {
  display: none;
}
.main-nav--closed .main-nav__list {
  display: none;
}
.main-nav--opened .main-nav__list {
  display: block;
}
.main-nav--no-js .main-nav__list {
  display: block;
}
.header-logo {
  display: block;
}
.header-logo__image {
  width: 68px;
  height: 68px;
}
.site-navigation {
  background-color: #fafcfc;
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.24);
          box-shadow: 0 3px 9px rgba(0, 0, 0, 0.24);
  padding: 30px;
}
.site-navigation__item a {
  text-decoration: none;
  display: block;
  color: #18a3dd;
  font-family: "Helvetica Neue LT Std - Hv", "Arial", sans-serif;
  font-size: 20px;
  line-height: 100px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}
.site-navigation__item a:hover {
  color: #656973;
}
.site-navigation__item a:active {
  color: #170f1f;
}
.promo {
  min-width: 1500px;
  margin: 0 auto;
  background-color: #fafcfc;
}
.promo__wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1500px;
  margin: 0 auto;
  padding: 287px 891px 135px 180px;
  background-image: url(../img/promo-tins.png);
  background-repeat: no-repeat;
  -webkit-background-size: 947px 535px;
          background-size: 947px 535px;
  background-position: top 170px right 0;
}
.promo__title {
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  padding-left: 20px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 72px;
  font-weight: 900;
  line-height: 35px;
  text-transform: uppercase;
  color: #333740;
}
.promo__title:before {
  content: '';
  display: block;
  position: absolute;
  width: 5px;
  height: 95px;
  background-color: #18a3dd;
  top: -9px;
  left: -10px;
}
.promo__dop {
  margin: 0;
  margin-bottom: 65px;
  padding-left: 20px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.6px;
  color: #333740;
}
.promo_description {
  margin: 0;
  margin-bottom: 50px;
  color: #666666;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.4px;
  opacity: 0.5;
}
.promo__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.promo__order,
.promo__video {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.4px;
}
.promo__order {
  margin-right: 27px;
}
.promo__video {
  color: #333740;
  font-weight: 700;
  position: relative;
}
.promo__video:hover {
  opacity: 0.8;
}
.promo__video:after {
  content: '';
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  background-image: url(../img/icon-video.png);
  right: -30px;
  top: 6px;
}
.stats {
  min-width: 1500px;
  margin: 0 auto;
  background-color: #fafcfc;
  border: 1px solid transparent;
}
.stats__wrapper {
  margin-top: 171px;
  margin-bottom: 110px;
  position: relative;
  background-color: #0f0816;
  background-image: -webkit-linear-gradient(130deg, #0f0816 0%, #21172b 90%, #21172b 100%);
  background-image: -o-linear-gradient(130deg, #0f0816 0%, #21172b 90%, #21172b 100%);
  background-image: linear-gradient(-40deg, #0f0816 0%, #21172b 90%, #21172b 100%);
}
.stats__img {
  position: absolute;
  z-index: 10;
  width: 404px;
  height: 525px;
  margin-top: -113px;
  background-image: url(../img/bank.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-background-size: 404px 525px;
          background-size: 404px 525px;
}
.stats__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 117px 291px 118px 473px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.stats__block {
  margin: 100px 0 100px 0;
}
.stats__number {
  position: relative;
  margin: 0;
  margin-bottom: 14px;
  padding-left: 22px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 72px;
  font-weight: 800;
  line-height: 72px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #fff;
}
.stats__number:before {
  position: absolute;
  bottom: 6px;
  left: 0;
  display: block;
  width: 5px;
  height: 50px;
  background-color: #18a3dd;
  content: '';
}
.stats__first,
.stats__second {
  padding: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
}
.stats__first {
  font-weight: 700;
  text-transform: uppercase;
  color: #18a3dd;
}
.stats__second {
  font-weight: 300;
  letter-spacing: 0.4px;
  color: #a9a9a9;
}
.features {
  min-width: 1500px;
  background-color: #fafcfc;
}
.features__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.features__title-down {
  width: 100%;
  text-align: center;
}
.features__title-left,
.features__title-right {
  font-family: "Raleway", "Arial", sans-serif;
  color: #333740;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin: 0;
  margin-bottom: 15px;
}
.features__title-left {
  margin-right: 35px;
  font-weight: 800;
  position: relative;
}
.features__title-left:after {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: 40px;
  background-color: #18a3dd;
  right: -20px;
  bottom: 0;
}
.features__title-right {
  font-weight: 400;
}
.features__title-down {
  margin: 0;
  font-family: "Lato", "Arial", sans-serif;
  color: #83888f;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.4px;
}
.features__wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1500px;
  margin: 0 auto;
  padding: 136px 249px 110px 251px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url(../img/men-woman.png);
  -webkit-background-size: 308px 486px;
          background-size: 308px 486px;
  background-repeat: no-repeat;
  background-position: center bottom -30px;
}
.features__left-block,
.features__right-block {
  width: 266px;
  margin-bottom: 79px;
}
.features__last-block {
  margin-bottom: 0;
}
.features__left-block-title,
.features__right-block-title {
  margin: 0;
  margin-bottom: 35px;
  color: #333740;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 700;
}
.features__left-block-description,
.features__right-block-description {
  margin: 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.7px;
  color: #5b5f64;
  line-height: 24px;
}
.features__left-block-title,
.features__left-block-description {
  text-align: right;
}
.features__left-block-title {
  padding-right: 26px;
  position: relative;
}
.features__left-block-title:after {
  content: '';
  display: block;
  position: absolute;
  width: 4px;
  height: 35px;
  background-color: #18a3dd;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  bottom: -17px;
  right: 0;
}
.features__right-block-title {
  padding-left: 26px;
  position: relative;
}
.features__right-block-title:before {
  content: '';
  display: block;
  position: absolute;
  width: 4px;
  height: 35px;
  background-color: #18a3dd;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  bottom: -17px;
  left: 0;
}
.sertificat {
  min-width: 1500px;
  background-color: #ffffff;
  position: relative;
  border: 1px solid transparent;
}
.sertificat__wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 55px 271px 98px 287px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.sertificat__logo {
  width: 190px;
  height: 100px;
  text-align: center;
  padding-right: 15px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin-right: 20px;
}
.sertificat__logo:after {
  content: '';
  position: absolute;
  display: block;
  width: 2px;
  height: 100px;
  background-color: #dcdcdc;
  right: 0;
}
.sertificat__title {
  text-align: center;
  color: #333740;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 30px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}
.sertificat__dop {
  text-align: center;
  color: #83888f;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.order {
  min-width: 1500px;
  background-color: #fff;
}
.order__wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1500px;
  margin: 0 auto;
  padding: 179px 288px 173px 863px;
  background-image: url(../../img/boxes.png);
  background-repeat: no-repeat;
  background-position: 0 120px;
  -webkit-background-size: 911px 489px;
          background-size: 911px 489px;
}
.order__title {
  position: relative;
  margin: 0;
  margin-bottom: 13px;
  padding-left: 27px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  color: #333740;
}
.order__title::before {
  content: '';
  display: block;
  position: absolute;
  width: 6px;
  height: 40px;
  background-color: #18a3dd;
  left: 0;
  top: 10px;
}
.order__price {
  margin: 0;
  margin-bottom: 35px;
  padding-left: 27px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #333740;
}
.order__description {
  margin: 0;
  margin-bottom: 40px;
  color: #666666;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.subscribe {
  min-width: 1500px;
  background-color: rgba(0, 0, 0, 0.9);
  background-image: url(../../img/bg-woman-color.png);
  background-repeat: no-repeat;
  background-position: center top -100px;
}
.subscribe__wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 1500px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 80px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
}
.subscribe__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.subscribe__title-down {
  width: 100%;
}
.subscribe__title-left {
  position: relative;
  margin: 0 35px 15px 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #e5e5e5;
}
.subscribe__title-left:after {
  position: absolute;
  top: -6px;
  right: -17px;
  display: block;
  width: 2px;
  height: 35px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background-color: #18a3dd;
  content: '';
}
.subscribe__title-right {
  margin: 0 0 15px 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #e5e5e5;
}
.subscribe__title-down {
  margin: 0 0 32px 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #767a7d;
}
.subscribe__form {
  margin: 0 auto;
  padding: 36px 180px 36px 32px;
  width: 617px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
}
.subscribe__email {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 405px;
  padding: 19px 20px 20px 31px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.4px;
  color: rgba(0, 0, 0, 0.9);
  border: none;
  -webkit-border-top-left-radius: 30px;
          border-top-left-radius: 30px;
  -webkit-border-bottom-left-radius: 30px;
          border-bottom-left-radius: 30px;
  outline: none;
  cursor: pointer;
}
.subscribe__email:hover {
  background-color: #18a3dd;
}
.subscribe__email:focus {
  background-color: #18a3dd;
}
.subscribe__email::-webkit-input-placeholder {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.4px;
  color: #ababab;
}
.subscribe__email::-moz-placeholder {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.4px;
  color: #ababab;
}
.subscribe__email:-ms-input-placeholder {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.4px;
  color: #ababab;
}
.subscribe__email::-ms-input-placeholder {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.4px;
  color: #ababab;
}
.subscribe__email::placeholder {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.4px;
  color: #ababab;
}
.subscribe__btn {
  position: absolute;
  right: 29px;
  top: 36px;
  padding: 19px 33px 20px 31px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  -webkit-border-top-right-radius: 30px;
          border-top-right-radius: 30px;
  -webkit-border-bottom-right-radius: 30px;
          border-bottom-right-radius: 30px;
  outline: none;
  background-color: #18a3dd;
  cursor: pointer;
}
.subscribe__btn:hover {
  opacity: 0.8;
}
.inquire {
  min-width: 1500px;
  background-color: #ffffff;
}
.inquire__wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1500px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;
}
.inquire__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.inquire__title-down {
  width: 100%;
}
.inquire__title-left {
  position: relative;
  margin: 0 35px 15px 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #333740;
}
.inquire__title-left:after {
  position: absolute;
  top: -6px;
  right: -17px;
  display: block;
  width: 2px;
  height: 35px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background-color: #18a3dd;
  content: '';
}
.inquire__title-right {
  margin: 0 0 15px 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #333740;
}
.inquire__title-down {
  margin: 0 0 32px 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.4px;
  text-align: center;
  color: #767a7d;
}
.inquire__form-wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 556px;
}
.inquire__name-wrapper {
  margin-right: 34px;
  margin-bottom: 25px;
}
.inquire__email-wrapper {
  margin-bottom: 25px;
}
.inquire__subject-wrapper {
  margin-bottom: 25px;
}
.inquire__text-wrapper {
  margin-bottom: 50px;
}
.inquire__name,
.inquire__email {
  width: 261px;
  outline: none;
  border: none;
  border-bottom: 1px solid #ebebeb;
}
.inquire__subject {
  width: 556px;
  outline: none;
  border: none;
  border-bottom: 1px solid #ebebeb;
}
.inquire__text {
  width: 556px;
  height: 148px;
  outline: none;
  border: none;
  border-bottom: 1px solid #ebebeb;
  color: rgba(0, 0, 0, 0.9);
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.4px;
  cursor: pointer;
}
.inquire__text:hover {
  border-bottom: 1px solid #18a3dd;
}
.inquire__text:focus {
  border-bottom: 1px solid #18a3dd;
}
.inquire__name,
.inquire__email,
.inquire__subject {
  color: rgba(0, 0, 0, 0.9);
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.4px;
  cursor: pointer;
}
.inquire__name:hover,
.inquire__email:hover,
.inquire__subject:hover {
  border-bottom: 1px solid #18a3dd;
}
.inquire__name:focus,
.inquire__email:focus,
.inquire__subject:focus {
  border-bottom: 1px solid #18a3dd;
}
.inquire__name::-webkit-input-placeholder,
.inquire__email::-webkit-input-placeholder,
.inquire__subject::-webkit-input-placeholder {
  color: #ababab;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.inquire__name::-moz-placeholder,
.inquire__email::-moz-placeholder,
.inquire__subject::-moz-placeholder {
  color: #ababab;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.inquire__name:-ms-input-placeholder,
.inquire__email:-ms-input-placeholder,
.inquire__subject:-ms-input-placeholder {
  color: #ababab;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.inquire__name::-ms-input-placeholder,
.inquire__email::-ms-input-placeholder,
.inquire__subject::-ms-input-placeholder {
  color: #ababab;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.inquire__name::placeholder,
.inquire__email::placeholder,
.inquire__subject::placeholder {
  color: #ababab;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.inquire__btn {
  outline: none;
  border: none;
  margin: 0 auto;
  font-family: "Lato", "Arial", sans-serif;
  color: #f1f1f1;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  background-color: #18a3dd;
  padding: 19px 92px 20px 92px;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  cursor: pointer;
}
.inquire__btn:hover {
  opacity: 0.8;
}
.footer {
  min-width: 1500px;
  background-color: #f1f4f5;
}
.footer__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1146px;
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 54px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__menu-item {
  position: relative;
  display: block;
  padding-right: 5px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-decoration: none;
  letter-spacing: 0.35px;
  color: #666;
}
.footer__menu-item:after {
  position: absolute;
  top: 4px;
  right: -5px;
  display: block;
  width: 1px;
  height: 15px;
  background-color: #d9d9d9;
  content: '';
}
.footer__menu-item:hover {
  color: #000;
}
.footer__menu-item:last-child:after {
  content: none;
}
.footer__copyright {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0.4px;
  color: #666;
}
.footer__social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.footer__social-item {
  display: block;
  margin-left: 50px;
  font-size: 24px;
  color: #666;
}
.footer__social-item:hover {
  color: #18a3dd;
}
